---
import {Image} from "astro:assets"
import EngineersImage from "../assets/engineers.jpg"
import Layout from '../layouts/Layout.astro';
import DoubleArrowDownIcon from "../components/icons/DoubleArrowDownIcon.astro";
---

<Layout title="Juan Otálora | Engineering, product & design">
	<section class="h-screen w-screen">
		<div class="relative flex h-screen flex-col justify-center text-center text-xl lg:ml-20 lg:text-left lg:text-8xl">
			<span>Hi! I'm Juan 👋</span>
			<h1>a Product Frontend Engineer</h1>
			<span>based in A Coruña, Spain</span>
		</div>
		<div class="absolute bottom-20 left-1/2 flex flex-col items-center gap-2">
			<span>Scroll for more</span>
			<DoubleArrowDownIcon />
		</div>
	</section>
	<section class="mx-60 my-32 grid grid-cols-2">
		<div class="flex flex-col gap-5">
			<h2 class="text-5xl leading-tight">
				Engineering,
				<br /> product &
				<br /> design
			</h2>
			<p>
				Following my referents to create products that solve real problems and that people genuinely love.
			</p>
		</div>
		<div class="flex justify-end">
			<Image src={EngineersImage} alt="NASA Engineers" class="max-w-[400px] rounded-2xl" />
		</div>
	</section>
</Layout>
