---
import ExternalLinkIcon from "../icons/ExternalLinkIcon.astro";

interface Props {
  label: string;
  to: string;
}

const { label, to } = Astro.props;
---

<a
  href={to}
  target={to.includes("http") ? "_blank" : "_self"}
  class="relative block w-fit after:absolute after:block after:h-[1px] after:w-full after:origin-center after:scale-x-0 after:bg-black after:transition after:duration-300 after:content-[''] after:hover:scale-x-100"
>
  <div class="flex items-center gap-2">
    {label}
    {to.includes("http") && <ExternalLinkIcon />}
  </div>
</a>
